.get-start{
    font-size: 20px;
}
.form-phone{
    padding-right: 150px;
}
.pilihan{
    padding-right: 50px;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 20px;
    margin: -28px auto 10px;
}